.bar_score svg {position:relative;}
.bar_score div#avg_score {
  font-size: 130;
color: #111;
opacity: 0.5;
position: relative;
margin-bottom: -150px;
margin-top: -30px;
text-align: center;
margin-left: auto;
margin-right: auto;
min-height:185px;
}


.dc-data-count .filter-count {
color: #111;
font-weight: bold;
}


