/* @override 
	http://doi.ap:8888/css/style.css
	http://localhost:8888/transp_doi/doi/css/style.css */
	
/* FONT */
@font-face {
    font-family: 'bebas';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* GENERIC ELEMENTS */
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
   /* on TI website there is in use the fonts.com helvetica */
   line-height: 1.6em;
   color: #1a1a1a;
   padding-bottom: 90px;
}

h1,h2,h3,h4,h5,h6 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
   /* on TI website there is in use the fonts.com helvetica */
   font-weight: 300;
}

h1{
	margin-top: 0!important;
}

h2{
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom: 0;
}

h3{
	border-bottom: 1px solid #1a1a1a;
	padding-bottom: .2em;
	margin-bottom: 1em;
	position: relative;
}

.info_chart{
	position: absolute;
	top: 0;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: -30px;
	width: 100%;
}

.info{
	position: absolute;
	background: #e6e6e6 url(../img/info.svg) no-repeat;
	display: block;
	top: 25px;
	right: 0px;
	width: 21px;
	text-indent: -9834em;
	cursor: pointer;
}

.info.opened{
	padding-bottom: 16px;
	background: #e6e6e6 url(../img/close_info.svg) no-repeat center top;
}

#list_content{
	position: relative;
}

#list_content .info_chart{
	z-index: 1000;
	top: 8px;
}

#attendance_info{
	right: 26%;
}

#OI_info{
	right: 10.5%;
}

#EAI_info{
	/*right: 1%;*/
}

#list_content .desc{
	z-index: 1000;
	width: 300px;
	position: absolute;
	right: 0;
}

#list_content .info{
	background: #3695d8 url(../img/info_table.svg) no-repeat;
}

#list_content .info.opened{
	background: #e6e6e6 url(../img/close_info_table.svg) no-repeat;
}

.table_spacer{
	padding: 0 15px;
}



p.desc{
	width: 100%;
	margin-left: 15px;
	background: #e6e6e6;
	padding: 15px;
	position: relative;
	top: 58px;
	
	display: none;
}




/* CLASSES */

.col-centered {
   float: none;
   margin: 0 auto;
}

.more{
	color: #FFF;
	padding-top: .5em;
	font-weight: bold;
}

.more:hover{
	color: #FFF;
}

.table-responsive{
	padding: 0!important;
}

.chart_box{
	margin-bottom: 3em;
}

@media only screen and (min-width : 992px) {
	.chart_box{
		margin-bottom: 0em;
	}
}

.clear{
	clear: both;
}


/* NAV BAR */
nav.navbar{
	background: #2180c2;
	margin-bottom: 0;
	height: 40px;
}

button.navbar-toggle{
	border-radius: 0;
	border: none;
}

div#ti_logo_container{
	background: #3695d8;
	height: 50px;
	width: 160px;
	padding: .5em 1em;
	border-right: 1px solid rgba(0,0,0,.1);
}

div#ti_logo_container a#ti_logo{
	background-image: url(../img/ti_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	display: inline-block;
	width: 25%;
	text-indent: -974em;
}

.navbar-right a{
	display: block;
	height: 40px;
	line-height: 40px;
	color: #b9d9eb;
	padding: 0 3%!important;
}

a#page_title{
	display: inline-block;
	color: #FFF;
	padding: 0 3%;
	font-size:14px;
	width: 75%;
	float: right;
	line-height: 15px;
}

@media only screen and (min-width : 768px) {
	nav.navbar{
		height: 80px;
	}
	
	div#ti_logo_container{
		height: 80px;
		padding-left: .8em;
		padding-right: .8em;
	}
	
	.navbar .navbar-nav > li > a{
		color: #FFF;
		display: inline-block;
		height: 80px;
		width: 140px;
		border-right: 1px solid rgba(0,0,0,.1);
	}
	
	.nav li#mi_tool_btn.active a{
		background: #039AAB;
		color: #FFF;
	}
	
	.nav li#cm_tool_btn.active a{
		background: #004c79;
		color: #FFF;
	}
	
	.nav.navbar-right li a{
		width: auto;
		border: none;
	}
	
	ul.navbar-nav#title_container li{
	}
	
	a#page_title{
		margin-top: 12px;
		line-height: 1.4em;
		padding-right: 0;
		padding-left: .5em;
	}
	
	div#ti_logo_container a#ti_logo{
		width: 25%;
		height: 60px;
	}
	
	.navbar-right a{
		display: block;
		height: 80px;
		margin: 0 0 0 25px;
		line-height: 92px!important;
	}
}

@media only screen and (min-width : 992px) {
	div#ti_logo_container a#ti_logo{
		background-image: url(../img/ti_logo.png);
		width: 56%;
		height: 60px;
	}
	
	div#ti_logo_container{
		width: 320px;
	}
	
	a#page_title{
		font-size: 14px;
		text-transform: uppercase;
		line-height: 1.2em;
		color: #FFF;
		width: 40%;
		float: right;
		margin: 15 0;
		padding-left: 15px;
		padding-right: 0;
		border-left: 1px solid #FFF;
	}
}

/* HOME */
/* about */

.container_wrap{
	padding: 2rem 0;
}

#about_wrap{
	padding-bottom: 0;
	padding-top: 0;
	color: #FFF;
}

#about_wrap.mi_header{
	background: #039AAB;
}
#about_wrap.cm_header {
	background: #004c79;
}

#about_wrap_top{
	padding: 0;
	height: 5px;
	display: none;
}
#about_wrap_top.mi_header{
	background: #039AAB;
}
#about_wrap_top.cm_header{
	background: #004c79;
}


#about_wrap p{
	margin-bottom: 0;
	margin-top: 1em;
	margin-left: 0;
}

#about_social{
	overflow: hidden;
	margin-bottom: 2em;
}

#toggle_about_wrap{
	padding: 0;
}

#collapse_about{
	z-index: 2;
}

@media only screen and (min-width : 992px) {
	#about_social{
		margin-bottom: 0em;
	}
	
	#about_wrap.mi_header{
		background: #039AAB url(../img/icon_mi.png) no-repeat -5% center;
	}
	#about_wrap.cm_header{
		background: #004c79 url(../img/icon_cm.png) no-repeat -5% center;
	}
	
	#about_wrap #about_container{
		background-size: 18%;
	}
	
	#about_wrap p{
		margin-bottom: 1em;
		margin-top: 1em;
	}
}

@media only screen and (min-width : 1200px){
	#about_wrap.mi_header{
		background: #039AAB url(../img/icon_mi.png) no-repeat 2% center;
	}
	#about_wrap.cm_header{
		background: #004c79 url(../img/icon_cm.png) no-repeat 2% center;
	}
	#about_wrap p{
		margin-bottom: 1em;
		margin-top: 1em;
	}
}

#collapse_about a{
	-webkit-transition: top .35s ease-in-out 0s;
	top: -18px;
	position: relative;
	background: #FFF url(../img/collapse.svg) no-repeat center top;
	background-size: 30px!important;
	height: 20px;
	bottom: 0;
	display: block;
	width: 40px;
	margin: 0 auto;
	text-indent: -984em;
	-webkit-transition: all .35s ease-out 0s;
	   -moz-transition: all .35s ease-out 0s;
		    transition: all .35s ease-out 0s;
}
#collapse_about.mi_collapse a{
	background: #039AAB url(../img/collapse_mi.svg) no-repeat center top;
}
#collapse_about.cm_collapse a{
	background: #004c79 url(../img/collapse_cm.svg) no-repeat center top;
}

#collapse_about a.closed{
	top: 0px;
	background-position: center bottom;
}

#collapse_about a.opened{
	background-color: #fff;
}

/*filter*/
#filter_wrap{
	background: #2180c2;
	padding: 0;
	width: 100%;
	color: #FFF;
	border-top: 1px solid #2078b5;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}

#filter_wrap #filter_field_container{
	padding-top: 10px;
}

#filter_wrap #filter_field_container p{
	float: left;
	margin-bottom: 0;
	margin-right: .5em;
	width: 20%;
	white-space: normal;
	display: block;
	line-height: 1em;
}

#filter_wrap input#search-input{
	background: #FFF;
	color: #000;
	height: 33px;
	padding: 0 .3em 0 0;
	margin-bottom: 8px;
	border-bottom: 1px solid #2180c2;
	font-size: 1.1em;
}

#filter_wrap .input-group{
	width: 70%;
	float: left;
}

#resetall_container{
}

#filter_wrap .btn{
	color: #FFF;
	border-radius: 0;
	background: #125686;
	font-size: .875em;
	-webkit-transition: all .25s ease-in-out 0s;
	-moz-transition: all .25s ease-in-out 0s;
	transition: all .25s ease-in-out 0s;
	white-space: normal;
	padding-left: .5em;
	padding-right: .5em;
	cursor: pointer;
	width: 100%;
}

#filter_wrap .btn:hover{
	box-shadow: none;
	background: #146298;
}

#filter_wrap .btn[disabled=disabled]{
	display: none!important;
}

/*mep number*/
#filter_numbers p{
	margin-bottom: 0;
	line-height: 1.2em;
}

#filter_numbers{
	display: none;
}

@media only screen and (min-width : 768px) {
	#resetall_container{
		padding: 0;
	}
	
	#filter_wrap{
		height: 8.5vh;
		min-height: 90px;
	}
	
	#filter_wrap #filter_field_container p{
		float: none;
		margin-bottom: 5px;
	}
	
	#filter_wrap .input-group{
		width: 100%;
		float: none;
	}
	
	#filter_wrap input#search-input{
		margin-bottom: 0px;
		padding: 0 0 0 .5em;
	}
	
	#filter_wrap .btn{
		margin-bottom: 0;
		height: 8.5vh;
		min-height: 90px;
		margin-top: 0;
		padding: 20px .5em 0;
		width: 100%;
		background: #125686 url(../img/reset.svg) center 7% no-repeat;
	}
	
	#filter_wrap .btn:hover{
		background: url(../img/reset.svg) center 7% no-repeat #146298;
	}
	
	
	#filter_wrap .btn[disabled=disabled]{
		visibility: hidden;
		display: block;
	}
	
	
	#filter_wrap #currently_selected_text{
		margin-top: 15px
	}
	
	#filter_wrap .big_number{
		font-family: 'Lekton', sans-serif;
		font-size: 2.5em;
		margin-bottom: 6px;
		font-weight: bold;
		display: block;
		margin-top: 24px;
	}
	
	#filter_wrap .filter_number{
		line-height: 1.2em;
	}
	
	#filter_wrap .filter_long{
		margin-top: 16px;
	}
}

@media only screen and (min-width : 992px) {
	#filter_numbers{
		display: block;
	}
	#filter_wrap #filter_field_container p{
		margin-bottom: 0;
		width: 100%;
		padding-top: 5px;
		margin-bottom: 3px;
		letter-spacing: .05em;
	}
	
	#filter_wrap .input-group{
		width: 100%;
	}
	
	#filter_wrap input#search-input{
		width: 100%;
		height: 36px;
		padding: 0 0 0 .5em;
	}
	#filter_wrap #filter_field_container{
		height: 75px;
		padding-top: 4px;
		border-right: 1px solid rgba(0,0,0,.1);
	}
}

/* charts */
/* main charts */

#main_charts_wrap{
	padding-top: 0;
}

#hidden_charts_wrap{
	display: none;
}

#view_charts{
	height: 25px;
	display: block;
	float: left;
	padding-left: 28px;
	background-image: url(../img/hidechart.svg);
	background-repeat: no-repeat;
	
}

#hidden_charts_wrap{
	padding-top: 0;	
}

#view_charts.hiddencharts{
	background-image: url(../img/hiddenchart.svg);
}

.legend {
	padding: 1em 0;
	clear: both;
}

.legend div{
	width: 40%;
	float: left;
	margin-bottom: .2em;
	font-size: .8em;
	margin-left: 10%;
}

.legend div:before{
	display: block;
	content: " ";
	border-radius:50%;
	width: 15px;
	height: 15px;
	margin-top: 3px;
	margin-right: 5px;
	float: left;
}


/* groups */
.legend div.sd:before{
	background: #c21200;
}

.legend div.epp:before{
	background: #0a3e63;
}

.legend div.efdd:before{
	background: #5eced6;
}

.legend div.alde:before{
	background: #ffc200;
}

.legend div.greens:before{
	background: #05a61e;
}

.legend div.gue:before{
	background: #800c00;
}

.legend div.ecr:before{
	background: #3086c2;
}

.legend div.ni:before{
	background: #cccccc;
}

.group svg{
}

/* outside revenues */
/* orange version * /
.legend div._0:before{
	background: #3695d8;
}

.legend div._1:before{
	background: #5989b3;
}

.legend div._2:before{
	background: #857c93;
}

.legend div._3:before{
	background: #ae6e74;
}

.legend div._4:before{
	background: #d76155;
}

.legend div._5:before{
	background: #ff523a;
} 
*/

/* blue version */
.legend div._0:before{
	background: #FFFFFF;
	border: 1px solid #ddd
}

.legend div._1:before{
	background: #8ed3fb;
}

.legend div._2:before{
	background: #68add4;
}

.legend div._3:before{
	background: #4388ad;
}

.legend div._4:before{
	background: #1a6287;
}

.legend div._5:before{
	background: #003c60;
}


/*scores*/
.bar_score svg{
	float: left;
	width: 70%;
}

#avg_score_container{
	float: left;
	width: 30%;
	color: #f85631;
}

#avg_score_container div#avg_score {
    font-size: 180px;
    font-weight: bold;
    margin-top:60px;
    height: 90px;
}

#sum_side, #avg_side{
	color: #999;
}

div.dc-chart{
	width: 70%;
}

div.country.dc-chart{
	width: 100%;
}

/* gender */
.gender_legend div{
	width: 20%;
	margin-left: 22%;
}
.legend div.m:before{
	background: #6baed6;
}

.legend div.f:before{
	background: #3182bd;
}

/*parties*/
.party.dc-chart{
	margin-bottom: 1em;
}

/*pasted from index html*/


#ep2014list table, .dc-data-grid {clear:both;}
.dc-table-label {
	background: #F5F5F5; 
	font-weight:bold; 
}

.x line {
	stroke:none;
}

.dc-data-grid, .dc-grid-group {
	clear:both
}

.dc-grid-group {
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
    border-radius: 4px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
	padding: 10px;
}

.dc-grid-item {
	float:left;
	margin:0 10px 10px 0;
	padding:5px;
	width:200px;
	background-color: #F8F8F8;
	border-color: #E7E7E7;
	border-radius: 4px;
	text-align:center;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.dc-grid-item img {width:170px;height:215px}
.dc-grid-top h1 {font-size:22px;}
.dc-grid-top h2 {font-size:14px;}

td.dc-table-column._5, td.dc-table-column._4,td.dc-table-column._6 {
	text-align: right;
}

tr.header th.header{
	background-color: #d4eaf6;
	background-image: url(../img/sort.svg);
	background-repeat: no-repeat;
	background-position: 99%;
	border-bottom: 1px solid #1a1a1a;
	border-right: 1px solid #bfd3de;
	cursor: pointer;
	font-size: .8em;
}

tr.header th.headerSortUp{
	background-image: url(../img/sortedup.svg);
}

tr.header th.headerSortDown{
	background-image: url(../img/sorteddown.svg);
}

tr {
	cursor: pointer;
}


td.dc-table-column{
	border-bottom: 1px solid #1a1a1a;
	border-right: 1px solid #eee;
}

#list_container{
	padding-top: 0em!important;
	background: #f3f9fc;
}

.dc-table-row{
	background: #FFF!important;
}

/*POPUP*/
.side{
	background: #FFF;
}

.modal-content h4.modal-title {
	font-size: 1.8em;
	padding-top: 0em;
	margin-bottom: 1em;
	border-bottom: 1px solid #1a1a1a;
}

.modal-body{
	padding: 0;
}

.modal-content h4{
	padding-top: 1em;
}

.modal-footer{
	padding: 0;
}

.modal-footer button{
	margin: 0;
	background: transparent!important;
	color: #3695d8;
	box-shadow: none!important;
}

.range .pie-slice path {stroke:lightgrey ;}
div.range .pie-slice {fill:#333 ;}


#menu{
	position: fixed;
	padding-left:0;
}

#menu li{
	margin-bottom: .5em;
	list-style: none;
}

#menu li a{
	color: #999;
}

.dc-chart g.axis.x text{
  cursor:pointer;
  pointer-events: auto;
}

div.dc-chart g.row text {fill:black}

.dc-chart .pie-slice {
  fill:black;
}

.unregistered {color:darkred}
