/* @override 
	http://doi.ap:8888/css/style.css */
	
/* FONT */
@font-face {
    font-family: 'bebas';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* GENERIC ELEMENTS */
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
   /* on TI website there is in use the fonts.com helvetica */
   line-height: 1.6em;
   color: #1a1a1a;
}

h1,h2,h3,h4,h5,h6 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
   /* on TI website there is in use the fonts.com helvetica */
   font-weight: 300;
}

h2{
	font-weight: bold;
	font-size: 1.8em;
}

h3{
	border-bottom: 1px solid #1a1a1a;
	padding-bottom: .5em;
	margin-bottom: 1em;
	position: relative;
}

h3 .info{
	position: absolute;
	right: 0;
	background: url(../img/info.svg) no-repeat;
	display: block;
	bottom: .5rem;
	right: 0;
	width: 21px;
	text-indent: -9834em;
	cursor: pointer;
}

/* CLASSES */
.more{
	padding-left: 15px;
	background: url(../img/more_Arrow.svg) no-repeat;
}

.table-responsive{
	padding: 0!important;
}

.chart_box{
	margin-bottom: 3em;
}

@media only screen and (min-width : 966px) {
	.chart_box{
		margin-bottom: 0em;
	}
}

.clear{
	clear: both;
}


/* NAV BAR */
nav.navbar{
	background: #2180c2;
	margin-bottom: 0;
}

button.navbar-toggle{
	border-radius: 0;
	border: none;
	margin-top: 22px;
}

div#ti_logo{
	background: #3695d8;
	height: 80px;
	padding: .5em 1em;
}

div#ti_logo a{
	background: url(../img/ti_logo.png) no-repeat left center;
	background-size: contain;
	display: block;
	text-indent: -974em;
	min-width: 135px;
	min-height: 62px;
}

.navbar-right a{
	display: block;
	height: 40px;
	line-height: 40px;
	color: #b9d9eb;
	padding: 0 3%!important;
}

a#page_title{
	display: block;
	height: 40px;
	line-height: 40px;
	color: #b9d9eb;
	padding: 0 3%;
}

@media only screen and (min-width : 768px) {
	.navbar-header{
		width:25%
	}
	
	div#ti_logo{
		width: 100%;
	}
	
	ul.navbar-nav#title_container li{
	}
	
	a#page_title{
		font-size: 2.2em;
		width: 390px!important;
		text-transform: uppercase;
		height: 80px;
		width: auto;
		line-height: 80px;
		color: #FFF;
		padding-left: 5px;
	}
	
	.navbar-right a{
		display: block;
		height: 80px;
		margin: 0 0 0 25px;
		line-height: 92px!important;
	}
}

/* HOME */
/* about */

.container_wrap{
	padding: 3rem 0;
}

#about_wrap{
	background: #f3f9fc;
}

@media only screen and (min-width : 966px) {
	#about_wrap{
		background: #f3f9fc url(../img/illustration.png) no-repeat 10px top;
	}
}

#about_wrap p{
	margin-bottom: 0;
}

/*filter*/
#filter_wrap{
	background: #deeff8;
}

#filter_wrap .input-group{
	width: 100%;
}

#filter_wrap input#search-input{
	width: 100%;
	padding: 1.2em .5em;
	background: #FFF;
	color: #000;
	margin-bottom: .5em!important;
	border-bottom: 1px solid #2180c2;
}

#filter_wrap .btn{
	padding: 0 0 0 15px;
	margin-bottom: 2em;
	color: #3695d8;
	background: url(../img/close.svg) no-repeat left center;
}

#filter_wrap .btn:hover{
	box-shadow: none;
	text-decoration: underline;
}

#filter_wrap .btn[disabled=disabled]{
	display: none!important;
}

/*mep number*/
#mep_number{
	margin-top: 1.4em;
	color: #808080;
	font-size: 1.6875em;
}

#filter_mep_number p{
	margin-bottom: 0;
}

#mep_number #big_number{
	font-family: bebas;
	font-size: 5em;
	color: #1f71ab;
}

@media only screen and (min-width : 768px) {
	#filter_wrap input#search-input{
		margin-bottom: 0px;
	}
	#filter_wrap .btn{
		margin-bottom: 0;
		background: url(../img/close.svg) no-repeat left center;
	}
	#filter_wrap .btn[disabled=disabled]{
		visibility: hidden;
		display: block;
	}
	#mep_number{
		margin-top: 1.7em;
	}
}

/* charts */
/* main charts */
#hidden_charts_wrap{
	display: none;
}

#view_charts{
	margin-top: 30px;
	height: 25px;
	display: block;
	float: left;
	padding-left: 28px;
	background-image: url(../img/hidechart.svg);
	background-repeat: no-repeat;
	
}

#hidden_charts_wrap{
	padding-top: 0;	
}

#view_charts.hiddencharts{
	background-image: url(../img/hiddenchart.svg);
}

.legend {
	padding-top: 1em;
	clear: both;
}

.legend div{
	width: 40%;
	float: left;
	margin-bottom: .2em;
	font-size: .8em;
	margin-left: 10%;
}

.legend div:before{
	display: block;
	content: " ";
	border-radius:50%;
	width: 15px;
	height: 15px;
	margin-top: 3px;
	margin-right: 5px;
	float: left;
}


/* groups */
.legend div.sd:before{
	background: #c21200;
}

.legend div.epp:before{
	background: #0a3e63;
}

.legend div.efdd:before{
	background: #5eced6;
}

.legend div.alde:before{
	background: #ffc200;
}

.legend div.greens:before{
	background: #05a61e;
}

.legend div.gue:before{
	background: #800c00;
}

.legend div.ecr:before{
	background: #3086c2;
}

.legend div.ni:before{
	background: #cccccc;
}

.group svg{
}

/*scores*/
.bar_score svg{
	float: left;
	width: 70%;
}

#avg_score_container{
	float: left;
	width: 30%;
	color: #3695d8;
}

#avg_score_container div#avg_score {
    font-size: 180px;
    font-family: 'bebas';
    margin-top:60px;
}

div.dc-chart{
	float: none;
}


/*pasted from index html*/


#ep2014list table, .dc-data-grid {clear:both;}
.dc-table-label {
	background: #F5F5F5; 
	font-weight:bold; 
}

.x line {
	stroke:none;
}

.dc-data-grid, .dc-grid-group {
	clear:both
}

.dc-grid-group {
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
    border-radius: 4px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
	padding: 10px;
}

.dc-grid-item {
	float:left;
	margin:0 10px 10px 0;
	padding:5px;
	width:200px;
	background-color: #F8F8F8;
	border-color: #E7E7E7;
	border-radius: 4px;
	text-align:center;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.dc-grid-item img {width:170px;height:215px}
.dc-grid-top h1 {font-size:22px;}
.dc-grid-top h2 {font-size:14px;}

td.dc-table-column._5, td.dc-table-column._4,td.dc-table-column._6 {
	text-align: right;
}

tr.header th.header{
	background-color: #d4eaf6;
	background-image: url(../img/sort.svg);
	background-repeat: no-repeat;
	background-position: 99%;
	border-bottom: 1px solid #1a1a1a;
	border-right: 1px solid #bfd3de;
	cursor: pointer;
	font-size: .8em;
}

tr.header th.headerSortUp{
	background-image: url(../img/sortedup.svg);
}

tr.header th.headerSortDown{
	background-image: url(../img/sorteddown.svg);
}


td.dc-table-column{
	border-bottom: 1px solid #1a1a1a;
	border-right: 1px solid #eee;
}

#list_container{
	background: #f3f9fc;
}

.dc-table-row{
	background: #FFF!important;
}

/*POPUP*/
.side{
	background: #FFF;
}

.modal-content h4.modal-title {
	font-size: 1.8em;
	padding-top: 0em;
	margin-bottom: 1em;
	border-bottom: 1px solid #1a1a1a;
}

.modal-body{
	padding: 0;
}

.modal-content h4{
	padding-top: 1em;
}

.modal-footer{
	padding: 0;
}

.modal-footer button{
	margin: 0;
	background: transparent!important;
	color: #3695d8;
	box-shadow: none!important;
}