<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Declaration of interest</title>
<link rel="stylesheet" type="text/css" href="css/dc.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/material.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
.dc-chart h2 {text-align:center;font-size:14px;}
.dc-data-count {margin:0;}

</style>

<script type="text/javascript" src="js/d3.js"></script>
<script type="text/javascript" src="js/crossfilter.js"></script>
<script type="text/javascript" src="js/dc.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>

<script src="jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>


<script>

var detailtpl = sidetpl = null ;

var wall = null;

/*
1. de 500   1000 EUR brut par mois;
2. de 1001   5000 EUR brut par mois;
3. de 5001   10 000 EUR brut par mois;
4. plus de 10 000 EUR brut par mois.
*/
  var rangeEUR = [
    {min:0,max:0},
    {min:500,max:1000},
    {min:1001,max:5000},
    {min:5001,max:10000},
    {min:10001,max:Number.POSITIVE_INFINITY},
  ]; 

var eu_groups = {
"GUE/NGL":"#df73be",
"S&D":"#ec2335",
"Green/ALE":"#67bd1b",
"ALDE":"#f1cb01",
"EFDD":"#60c0e2",
"PPE":"blue",
"EPP":"blue",
"ECR":"darkblue",
"NA/NI":"grey",
"Array":"pink"
};


  function sumDOI (mep,field, returnData) {
    function convert (i) {
      if (i.slice(-3)  == "EUR") return i.substr(0,i.length - 4) * 1;
      if (i.slice(-3)  == "GBP") return i.substr(0,i.length - 4) * 1.25;
      if (i.slice(-3)  == "SEK") return i.substr(0,i.length - 4) * 0.11;
      if (i.slice(-3)  == "HRK") return i.substr(0,i.length - 4) * 0.13;
      if (i.slice(-3)  == "CZK") return i.substr(0,i.length - 4) * 0.035;

      return 0;
    }

    returnData = returnData || false;
    if (!mep.doi)
      return "?";
    if (mep.doi[field].length < 1) return "";

    var min = max= qty = 0;
    var openscale = false;

    returnData = returnData || false;
    if (!mep.doi)
      return "?";
    if (mep.doi[field].length < 1) return "";

    var min = max= qty = 0;
    var openscale = false;
    _.each(mep.doi[field], function (d) {
       var i = d[1];
       qty +=1;
       if (d.length == 3) { //F: Holding
         i = d[2];
         //if (i != -1 ) console.log (mep);
       }
       if (d.length != 2) {
         //console.log (d);
         return;
       }
       if (i < 0) return;
       if (i > 4) {
         console.log (d);
         return;
       }
     
       if (i == 4) {
         openscale = true;
       }
     if (isNaN(i)) {
       if (i.slice(-3)  == "EUR") {
         min = max = i.substr(0,i.length - 4) * 1;
       } else {
         min = max = convert (i);
       } 
     } else {
       min += rangeEUR[i].min;
       max += rangeEUR[i].max;
     }

    });
    if (returnData) {
      return {min:min, max:max,qty:qty, openscale:openscale};
    }
    if (max == 0) {
      return "<span class='q"+mep.doi[field].length+"'>"+ mep.doi[field].length+" <500&euro;</span>";
    }
    if (max == Number.POSITIVE_INFINITY) {
      return "<span class='q"+mep.doi[field].length+"' title='"+mep.doi[field].length+" different occupations'>"+min+" &euro; or more</span>";
    }
    return "<span class='q"+mep.doi[field].length+"' title='"+mep.doi[field].length+" different occupations'>"+min+" &#8605; "+max+" &euro;</span>";
  };

function setRiskScore (d) {
  function setMinMax(d, t) {
    d.min += t.min;
    d.max += t.max;
    d.qty += t.qty;
  }
  var score= d.min= d.max = d.qty = 0;
  var openscale =false;
//      var fields = ["activity","holding","mandate","occasional","membership"];
  var t =  sumDOI(d,"activity",true);
  if (t.qty) {
    score += 10 + t.qty + t.min/500;
    openscale = openscale || t.openscale;
    setMinMax (d,t);
  }
  t =  sumDOI(d,"occasional",true);
  if (t.qty) {
    score += 5 + t.qty + t.min/500;
    openscale = openscale || t.openscale;
    setMinMax (d,t);
  }

  t =  sumDOI(d,"membership",true);
  if (t.qty) {
    score += 5 + t.qty + t.min/500;
    openscale = openscale || t.openscale;
    setMinMax (d,t);
  }
  t =  sumDOI(d,"mandate",true);
  if (t.qty) {
    score += 5 + t.qty + t.min/500;
    openscale = openscale || t.openscale;
    setMinMax (d,t);
  }
  t =  sumDOI(d,"holding",true);
  if (t.qty) {
    score += 5;
    setMinMax (d,t);
  }
  if (openscale) {
     score += 10;
  }
  d.score = score;
}
 
function grid (selector,data) {

  var ndx = crossfilter(data),
      all = ndx.groupAll();

  var color = d3.scale.linear()
        .clamp(true)
        .domain([0,1, 100])
        .range(["white", "#eee", "#333"])
        .interpolate(d3.interpolateHcl);



  var pie_group = dc.pieChart(selector +  " .group").innerRadius(20).radius(70);
  var group = ndx.dimension(function(d) {
      if (typeof d.eugroup == "undefined") return "";
      return d.eugroup;
      });
  var groupGroup   = group.group().reduceSum(function(d) {   return 1; });

  var pie_gender = dc.pieChart(selector +  " .gender").radius(70);
  var gender = ndx.dimension(function(d) {
      if (typeof d.gender == "undefined") return "";
      return d.gender;
      });

  var groupGender   = gender.group().reduceSum(function(d) {   return 1; });

  var bar_country = dc.barChart(selector + " .country");
  var country = ndx.dimension(function(d) {
      if (typeof d.country == "undefined") return "";
      return d.country;
      });
  var countryGroup   = country.group().reduce(
      function(a,d) {a.count +=1; a.score +=d.score; return a; },
      function(a,d) {a.count -=1; a.score -=d.score; return a; },
      function() {return {count:0,score:0}; }
      );


  var interest = ndx.dimension(function(d) {
      var fields = ["activity","holding","mandate","occasional","membership"];
      var sum = 0;
      _.each (fields, function (f) {
          var declarations = sumDOI(d,f,true);
          if (!declarations) return;
           
          sum += declarations.qty;
      });
      return sum;
  });

  var interestGroup   = interest.group().reduceSum(function(d) {   return 1; });
/*
  var pie_interest = dc.pieChart(selector +  " .interest")
    .innerRadius(20).radius(70)
    .width(200)
    .height(200)
    .dimension(interest)
    .group(interestGroup);
*/
  var chart_interest = dc.barChart(selector +  " .interest")
    .width(300)
    .height(200)
    .gap(1)
    .margins({top: 0, right: 0, bottom: 95, left: 30})
    .x(d3.scale.ordinal())
    .xUnits(dc.units.ordinal)
    .brushOn(false)
    .elasticY(true)
    .yAxisLabel("#MEPs")
    .dimension(interest)
    .group(interestGroup);
  

  pie_gender
    .width(200)
    .height(200)
    .dimension(gender)
    .group(groupGender);

  pie_group
    .width(200)
    .height(200)
    .dimension(group)
    .colorCalculator(function(d, i) {
      return eu_groups[d.key];
      //return color(d.value.score/d.value.count);
    })
    .group(groupGroup)
    .renderlet(function (chart) {
        });

  function adjustBarChartLabels(chart) {
    chart.svg().selectAll('.axis.x text')
      .on("click",function(d) {
        chart.filter(d);
        map.filter(d);
        dc.redrawAll();}
      )
      .style("text-anchor", "end" )
      .attr("transform", function(d) { return "rotate(-90, -4, 9) "; });
  }


  bar_country
    .width(444)
    .height(200)
    .outerPadding(0)
    .gap(1)
    .margins({top: 0, right: 0, bottom: 95, left: 30})
   .colorCalculator(function(d, i) {
        return color(d.value.score/d.value.count);
        })
   .valueAccessor (
      function(d) {
      return d.value.count;
      })
    .on("postRender", function( chart ){
        adjustBarChartLabels(chart);
     }) 
    .x(d3.scale.ordinal())
    .xUnits(dc.units.ordinal)
    .brushOn(false)
    .elasticY(true)
    .yAxisLabel("#MEPs")
    .dimension(country)
    .group(countryGroup);

//  bar_country.on("postRender", function(c) {rotateBarChartLabels();} );


  function rotateBarChartLabels() {
    d3.selectAll(selector+ ' .country .axis.x text')
      .style("text-anchor", "end" )
      .attr("transform", function(d) { return "rotate(-90, -4, 9) "; });
  }


  dc.dataCount(".dc-data-count")
    .dimension(ndx)
    .group(all);

  dc.dataCount(".dc-data-count2")
    .dimension(ndx)
    .group(all);

/*
  dc.dataGrid(".dc-data-grid")
    .dimension(country)
  .size(1000)
    .html (function(d) { return tpl(d);})
    .sortBy(function (d) {
        return d.last_name;
        })
  .order(d3.ascending)
    .renderlet(function (grid) {
        $("img.lazy-load").lazyload ({
effect : "fadeIn"
})
        .removeClass("lazy-load");
        });
*/

  var name = ndx.dimension(function(d) {
      return d.last_name.toLowerCase() + " "+ d.first_name.toLowerCase() + " " + d.party.toLowerCase() +" " + d.committee.toLowerCase() + d.substitute.toLowerCase();
      });


  var i=0;
  wall=dc.dataTable(".dc-data-grid")
   .dimension(name)
    .group(function (d) { return "";return d.country; })
    .columns([
        function(d) { i=i+1; return i; },
        function(d) { return "<span class='mep' data-epid='"+d.epid+"'>"+d.first_name +" "+ d.last_name +"</span>"; },
        function(d) { return ("<span class='score' style='background:" + color(d.score) +"'>"+d.score.toFixed(0))+"</span>";},
        function(d) {  return d.attendance.score; },
        function(d) {  return d.country; },
        function(d) {
          if (d.qty == 0) {
            return "";
          }
          if (d.max == 0) {
            return "<span class='q"+d.qty+"'>"+ d.qty+" <500&euro; </span>";
          }
          if (d.max == Number.POSITIVE_INFINITY)
            return "<span class='q"+d.qty+"' title='"+d.qty.length+" different occupations'>"+d.min+" &euro; or more</span>";
        },
        function(d) {
            return d.eugroup;
        },
        function(d) { return (sumDOI(d,"occupation"));},
    ])
  .size(1000)
  .sortBy(function (d) {return d.last_name})
  .renderlet(function (chart) {
    i = 0;
    $("td span.score").each (function(i) { 
      $(this).closest ("tr").css("backgroundColor", 
        $(this).css('backgroundColor')
      );
    });
  });

  drawScore();
  drawAge();

    $(".dc-data-grid").on("click",".dc-table-row", function () {
      var epid = $(this).find(".mep").data("epid");
      var mep = _.find(meps,function (d) { return d.epid == epid  });
      $("#mepdialog .modal-title").html (mep.first_name + " " + mep.last_name);
      $("#mepdialog #mepphoto").attr("src","http://www.europarl.europa.eu/mepphoto/"+epid+".jpg");
      $("#mepdialog .details").html(detailtpl (mep));
      $("#mepdialog .side").html(sidetpl (mep));
//      $("#debug").html(JSON.stringify(mep),undefined,2);
      $("#mepdialog").modal();
    });


dc.renderAll();

function drawAge() {
  //var chart_age = dc.barChart(selector + " .age");
  var chart_age = dc.lineChart(selector + " .age");

 var age = ndx.dimension(function(d) {
      if (typeof d.age == "undefined") return "";
      return d.age;
      });


var ageGroup   = age.group().reduceSum(function(d) {   return 1; });

  chart_age
    .width(444)
    .height(200)
    .margins({top: 0, right: 0, bottom: 95, left: 30})
    .x(d3.scale.linear().domain([20,100]))
    .brushOn(true)
    .renderArea(true)
    .elasticY(true)
    .yAxisLabel("Number of MEPs")
    .dimension(age)
    .group(ageGroup);
}

function drawScore() {
 var score = ndx.dimension (function(d) {
      return d.score;
      });
  var scoreGroup = score.group().reduceSum (function(d) { return 1;});
  var bar_score = dc.barChart (".bar_score")
    .width(245)
    .height(130)
    .outerPadding(5)
    .gap(0)
    .margins({top: 10, right: 10, bottom: 20, left: 30})
    .x(d3.scale.linear().domain([0, 101]))
    .elasticY(true)
    .yAxisLabel("Number of MEPs")
    .round(dc.round.floor)
    .colorCalculator(function(d, i) {
        return color(d.key);
        })
    .dimension(score)
    .group(scoreGroup)
    .renderlet(function (chart) {
      if (!console || !console.log) return;
      var d = chart.dimension().top(Number.POSITIVE_INFINITY);
      var total = nb = 0;
      d.forEach (function (a) {
        if (isNaN(a.score)) return;
        ++nb;
        total += a.score;
      });
      if (nb) {
        var avg= total/nb;
        $(".bar_score div#avg_score").text(Math.round(avg));
      } else {
        $(".bar_score div#avg_score").text("");
      }
    //why doesn't it work? if (chart.dimension().size() !== chart.group().value()) {
      if (ndx.size() !== nb) {
        $(".resetall").attr("disabled",false);
//        ga && ga('send', 'event', 'filter', 'subset', nb);
      } else {
        $(".resetall").attr("disabled",true);
//        ga && ga('send', 'event', 'filter', 'reset');
      }
    });

  bar_score.yAxis().ticks(4).tickFormat(d3.format(",.0f"));
}


}

  function getAmount (category, field) { //field = min (default) or max
    field = field || "min";
    if (!category) return "?";
    if (isNaN(category)) return category;
    if (category < 0) return "<500&euro;";
console.log (category+"::"+field);
    return rangeEUR[category][field];
  }
</script>

<div class="container">
  <div class="bs-component">
                            <div class="navbar navbar-warning">
                                <div class="navbar-header">
                                    <button data-target=".navbar-warning-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a href="javascript:void(0)" class="navbar-brand withripple">EU Integrity watch<div class="ripple-wrapper"></div></a>
                                </div>
                                <div class="navbar-collapse collapse navbar-warning-collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="javascript:void(0)">Score</a></li>
                                        <li><a href="/about.html">About</a></li>
                                        <li><a href="/contact.html">Contact</a></li>
                                        <li><a href="/media.html">Media</a></li>
                                        <li><a href="/methodology.html">Methodolody</a></li>
                                    </ul>
                                    <form class="navbar-form navbar-right">
                                        <div class="form-control-wrapper"><input type="text" placeholder="Search" class="form-control col-lg-8 empty"><span class="material-input"></span>
</div>
                                    </form>
                                </div>
                            </div>
                        </div>
    <div astyle="background-image: url('ep.jpg'); background-size: cover;">
        <div class="acontainer">
          <div class="row">
            <div class="bs-component">
              <div class="form-group col-md-8">
                <div class="well info-box">

                        <div class="input-group">
                            <input type="text" id="search-input" class="form-control input-lg" placeholder="Search">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        </div>
                        <span class="help-block">Search for MEPs, national parties, EP committees (AFET)...
                            <button style="float: right; color: black;" class="btn resetall" data-icon="delete">Reset All</button>
                        </span>
                        <br />
                    </div>
                    </div>

                    <div class="col-md-4 frontpage_score">
                        <div class="dc-data-count">
                          <div class="bar_score center-block">
                            <div class="graph_titles text-center"><h2>Scores of <span class="filter-count"></span> MEPs</h2></div>
                            <div class="text-center" id="avg_score"></div>
                            </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>

<div id="ep2014list" class="acontainer">

<div class="row">

<div class="group col-md-3"><h2>EU groups</h2></div>
<div class="country col-md-6"><h2>Country</h2></div>
<div class="gender col-md-3"><h2>Gender</h2></div>
</div>
<div class="row">
<div class="interest col-md-4"><h2>Extra activities<h2></div>
<div class="age col-md-6"><h2>Age</h2></div>
<div class="list"></div>
<div style="clear:both">
  <div class="dc-data-count2">
  <span class="filter-count"></span> selected out of <span class="total-count"></span> MEPs | <a
href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
  </div>
<p>Click on graphs to apply filters. Click on MEPs to display individual profiles.</p>
</div>

</div>

<div class="row">
<div class="col-md-12 table-responsive">
<table class="table table-hover dc-data-grid">
<tr class=header">
<thead>
<th>#pos</th> 
<th>Name</th> 
<th title="External Activity Indicator">EAI</th> 
<th>Attendance</th> 
<th>Country</th> 
<th>Side earnings</th> 
<th>Group</th> 
<th title="Income before elected as an MEP">Previous</th> 
</tr>
</thead>
</table>
</div>
</div>

Last updated: 1 October 2014
</div>

<script>
    var meps=[];
    var doi=[];
    var attendance=[];
$(function() {
     detailtpl =  _.template($("#detailstpl").html());
     sidetpl =  _.template($("#sidetpl").html());
    var renderLoaded  = _.after(3,  function () { 
      var dateFormat = d3.time.format("%d/%m/%Y");
      var now = Date.now();
      var a;

      _.each (meps, function (m) {
        if (m.eugroup == "PPE") { 
          m.eugroup = "EPP";
        } else if (m.eugroup == "Verts/ALE") { 
          m.eugroup = "Green/ALE";
        } else if (m.eugroup == "EFD") { 
          m.eugroup = "EFDD";
        }
        m.doi = _.find(doi,function (d) { return d.mep_id == m.epid  });
        a = _.find(attendance,function (d) { return d.id == m.epid  });
        m.attendance = {"total": parseInt(a.votes,10) , "attended": parseInt(a.voted,10), "score": parseFloat(a.percent)};
 
        setRiskScore (m);
        if (m.birthdate) {
          m.birthdate = dateFormat.parse(m.birthdate);
          m.age= ~~((now - m.birthdate) / (31557600000));// 24 * 3600 * 365.25 * 1000
        }
 
      });
      grid ("#ep2014list",meps);
    });
    d3.csv("mep.csv", function(d) {return d;}
      ,function(error, rows) {
         meps = rows;
         renderLoaded();
//      grid ("#ep2014list",rows);
      });      
    d3.csv("attendance.csv", function(d) {return d;}
      ,function(error, rows) {
         attendance = rows;
         renderLoaded();
//      grid ("#ep2014list",rows);
      });      
    d3.json("doi.json", function (rows) {
         doi = rows;
         renderLoaded();
//      grid ("#ep2014list",rows);
    });     

  $("#search-input").keyup (function () {
    var s = $(this ).val().toLowerCase();
    wall.dimension().filter(function (d) { 
      return d.indexOf (s) !== -1;} );
    $(".resetall").attr("disabled",true);
    dc.redrawAll();
  });

  $(".resetall").click(function() {
    $("#search-input").val("");
    $(".resetall").attr("disabled",false);
    dc.filterAll();
    dc.renderAll();
  });

 
});      

</script>

<style>
a.row div.dc-chart {float:none;}

adiv.gender {float:none;}
.dc-data-count2.dc-chart {float:right;}

#ep2014list table, .dc-data-grid {clear:both;}
.dc-table-label {background: #F5F5F5; font-weight:bold; }
.x line {stroke:none;}

body {font-family: arial, helvetica, sans-serif;}

.dc-data-grid, .dc-grid-group {clear:both}

.dc-grid-group {
  background-color: #F5F5F5;
border: 1px solid #E3E3E3;
        border-radius: 4px;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 20px;
        min-height: 20px;
padding: 10px;
}

.dc-grid-item {
float:left;
margin:0 10px 10px 0;
padding:5px;
width:200px;
      background-color: #F8F8F8;
      border-color: #E7E7E7;
      border-radius: 4px;
      text-align:center;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.dc-grid-item img {width:170px;height:215px}
.dc-grid-top h1 {font-size:22px;}
.dc-grid-top h2 {font-size:14px;}
</style>
</div>


</div>
</div>

</div> <!-- container -->
<script type="tpl" id="sidetpl">
<table class="table table-condensed">
<tr><td class="dc-table-label" colspan="3">A. Previous occupation</td></tr>
<% _.each(doi.occupation, function (a) { %>
  <tr><td><%= a[0] %></td><td><%= getAmount(a[1],"min") %></td><td><%= getAmount(a[1],"max") %></td></tr>
<% }); %>

<tr><td class="dc-table-label" colspan="3">B. Other mandates</td></tr>
<% _.each(doi.mandate, function (a) { %>
  <tr><td><%= a[0] %></td><td><%= getAmount(a[1],"min") %></td><td><%= getAmount(a[1],"max") %></td></tr>
<% }); %>

<tr><td class="dc-table-label" colspan="3">C. Regular outside activity</td></tr>
<% _.each(doi.activity, function (a) { %>
  <tr><td><%= a[0] %></td><td><%= getAmount(a[1],"min") %></td><td><%= getAmount(a[1],"max") %></td></tr>
<% }); %>

<tr><td class="dc-table-label" colspan="3">D. Committee & Board memberships</td></tr>
<% _.each(doi.membership, function (a) { %>
  <tr><td><%= a[0] %></td><td><%= getAmount(a[1],"min") %></td><td><%= getAmount(a[1],"max") %></td></tr>
<% }); %>

<tr><td class="dc-table-label" colspan="3">E. Occasional outside activity</td></tr>
<% _.each(doi.occasional, function (a) { %>
  <tr><td><%= a[0] %></td><td><%= getAmount(a[1],"min") %></td><td><%= getAmount(a[1],"max") %></td></tr>
<% }); %>

<tr><td class="dc-table-label" colspan="3">F. Holdings</td></tr>
<% _.each(doi.holding, function (a) { %>
  <tr><td><%= a[0] %></td><td><%= getAmount(a[1],"min") %></td><td><%= getAmount(a[1],"max") %></td></tr>
<% }); %>

</table>
<div class="row">
<div class="col-md-12">
<%= doi.additional %>
</div>
</div>
<div class="row">
<div class="col-md-12">
<%= doi.support%>
</div>
</div>
</script>

<script type="tpl" id="detailstpl">
     <div class="row">
       <div class="col-md-4">Country</div>
       <div class="col-md-8">
         <%= country %>
       </div>
     </div>
     <div class="row">
       <div class="col-md-4">Score</div>
       <div class="col-md-8 score"><%= score.toFixed(0) %> </div>
     </div>
     <div class="row">
       <div class="col-md-4">Attendance</div>
       <div class="col-md-8 score" title="voted on <%= attendance.attended %> votes out of <%= attendance.total %>"><%= attendance.score.toFixed(0) %> </div>
     </div>
     <div class="row">
       <div class="col-md-4">Group</div>
       <div class="col-md-8"><%= eugroup %> </div>
     </div>
     <div class="row">
       <div class="col-md-4">Party</div>
       <div class="col-md-8"><%= party %> </div>
     </div>
     <div class="row">
       <div class="col-md-4">Committee</div>
       <div class="col-md-8"><%= committee %> </div>
     </div>
     <div class="row">
       <div class="col-md-4">Age</div>
       <div class="col-md-8 score"><%= age %> </div>
     </div>
     <div class="row">
       <div class="col-md-4">Substitute</div>
       <div class="col-md-8"><%= substitute %> </div>
     </div>
     <div class="row">
       <div class="col-md-4">Delegation</div>
       <div class="col-md-8"><%= delegation %> </div>
     </div>
     <div class="row">
       <div class="col-md-4">Full profile</div>
       <div class="col-md-8"><a target="_blank" href="http://www.europarl.europa.eu/meps/en/<%= epid %>.html">European Parliament Website</a></div>
     </div>
     <div class="row">
       <div class="col-md-4">Source</div>
       <div class="col-md-8"><a target="_blank" href="<%= doi.url %>">Original declaration</a></div>
     </div>
</script>

<div class="modal fade" id="mepdialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Firstname Lastname</h4>
      </div>
      <div class="modal-body">
     
      <div class="row">
       <div class="col-md-8 details" ></div>
       <div class="col-md-4">
         <img id="mepphoto" src="" />
       </div>

     </div>
</div>

<div class="side">
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Close</button>
<div id="debug"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
</html>
