<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>EU Integrity Watch</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="css/dc.css"/>
<!--link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"-->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/material.css" rel="stylesheet">
<link href="css/theme.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css"/>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>
<script type="text/javascript" src="js/dc.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="js/d3-tip.min.js"></script-->

<script type="text/javascript" src="js/bower.js"></script>



<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@TI_EU" />
<meta name="twitter:creator" content="@eucampaign" />

<meta property="og:url" content="http://www.integritywatch.eu" />
<meta property="og:title" content="EU Integrity Watch: monitor potential conflicts of interests" />
<meta property="og:description" content="Interactive database that provides a unique overview of the activities and outside income for the members of the European Parliament" />
<meta property="og:image" content="http://www.integritywatch.eu/img/thumbnail.jpg" />
<meta property="fb:app_id" content="1611680135716224" />

<style>
.incomearea .big_number {
	display: inline-block !important;
}
.legend div {
	width: 50%;
	margin-left: 0;
}
.legend {
	margin-left: 0;
}
#filter_wrap {
min-height: 90px;
}
#filter_wrap .medium_number {
	color: #fff;
    display: block;
    font-family: "Helvetica W02 Bd Cn","Neue Helvetica 57 Condensed","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0px;
}
.incomearea {
	padding-top: 10px;
}
#filter_numbers p {
	margin-top: -5px;
}
.popup-value-td {
	min-width: 100px;
}
.actcategory  svg {
	overflow: visible;
}
.legend {
	padding-left: 30px;
}
.legend div::before {
	border-radius: 0;
	height: 13px;
	width: 13px;
	margin-top: 5px;
}
.legend div {
    font-size: 10px;
    margin-bottom: 0;
	height: 18px;
}
.feedback-btn {
	//position: absolute;
	//bottom: 20px;
	//right: 20px;
	position: relative;
	top: 30px;
	left: 30px;
}
.feedback-btn a {
	display: inline-block;
	background: #de3e3e;
	border-radius: 3px;
	color: #fff !important;
	padding: 7px 30px;
	text-align: center;
	width: auto;
	text-decoration: none;
}
.feedback-btn a:hover {
	background: #ce2e2e;
}
.navbar-collapse ul.navbar-right li a {
	padding: 0 10px !important;
}
.navbar-collapse ul.navbar-right li a {
	line-height: 80px !important;
}
.dc-table-label {
	padding: 5px 10px;
}
.political-legend {
	padding-left: 25%;
}
#mepphoto {
	//max-width: 100%;
	max-width: 160px;
}
#filter_wrap, .nav li#mi_tool_btn.active a {
	background: #045b5c !important;
}
#about_wrap.mi_header {
	background: #045b5c url("./img/bg_chair.png") repeat-y scroll 0% top / 90% auto !important;
}
#about_wrap.mi_header #about_container {
    background: rgba(0, 0, 0, 0) url("img/icon_chair.png") no-repeat scroll left center / 25% auto;
}
.ecep-logo-btn img {
	width: 160px;
	cursor: pointer;
	margin: 0 30px;
}
.institutions-container {
	position: relative;
}
.institutions-container .filterbyinstitutions {
	position: absolute;
	top: 130px;
	left: 0;
	font-size: 1.7em;
	font-family: "Helvetica W02 Bd Cn"
}

.cat_0::before {
	background: #d02e14;
}
.cat_1::before {
	background: #e6550d;
}
.cat_2::before {
	background: #fd8d3c;
}
.cat_3::before {
	background: #045b5c;
}
.cat_4::before {
	background: #348b8c;
}
.cat_5::before {
	background: #64bbbc;
}

.actcat_legend {
    padding-left: 25%;
}

</style>

</head>
<body>


<script>
$( document ).ready(function() {
	
	$('#collapse_about a').click(function(ev) {
		ev.preventDefault();
		$('#collapse_about a').toggleClass('opened');
		$('#collapse_about a').toggleClass('closed');
		$('#about_wrap').slideToggle('slow', function () {
			$('#about_wrap_top').slideToggle('fast')
		})	
	})
	
	$('.info').click(function(ev) {
		ev.preventDefault();
		if($(this).hasClass('opened')){
			$(this).removeClass('opened');
			$(this).parents('.info_chart').find('p.desc').slideUp('fast')
		}else{
			closeAllInfos();
			$(this).addClass('opened');
			$(this).parents('.info_chart').find('p.desc').slideDown('fast')
		}
	});
	
	function closeAllInfos() {
		$('.info').removeClass('opened');
		$('p.desc').slideUp('fast');
	}
	
	function addcommas(x){
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
	
});


$.tablesorter.addParser({
	// use a unique id
	id: 'amount',
	is: function(s, table, cell) {
		return false;
	},
	format: function(s, table, cell, cellIndex) {
		var v = s.split(' ')[0];
		if (v === "") return -1;
		return v;
	},
	// flag for filter widget (true = ALWAYS search parsed values; false = search cell text)
	parsed: false,
	// set the type to either numeric or text (text uses a natural sort function
	// so it will work for everything, but numeric is faster for numbers
	type: 'numeric'
});


var detailtpl = sidetpl = null ;
var wall = null;

var eu_groups = {
"GUE/NGL":"#800c00",
"S&D":"#c21200",
"Greens/EFA":"#05a61e",
"ALDE":"#ffc200",
"EFDD":"#5eced6",
"PPE":"#0a3e63",
"EPP":"#0a3e63",
"ECR":"#3086c2",
"NA/NI":"#cccccc",
"ENF":"#A1480D",
"Array":"pink"
};

var catscolor = {
	"Public sector":"#045b5c",
	"NGO":"#fd8d3c",
	"Other":"#64bbbc",
	"Private sector":"#d02e14",
	"Academia":"#348b8c",
	"Unknown":"#e6550d"
}



function grid(selector,data) {
	var ndx = crossfilter(data),
			all = ndx.groupAll();

	var color = d3.scale.linear()
				.clamp(true)
				.domain([0,1, 70])
				.range(["white","#ffc7b6", "#f85631"])
				.interpolate(d3.interpolateHcl);


	//Political group
	var pie_group = dc.pieChart(selector +  " .group").innerRadius(50).radius(100);
	var group = ndx.dimension(function(d) {
			if (typeof d.Political_group == "undefined") return "";
			return d.Political_group;
			});
	var groupGroup   = group.group().reduceSum(function(d) { 
		//return 1; 
		return d.total_activities;
	});
	
	//Activity category group
	var pie_actcategory = dc.pieChart(selector +  " .actcategory").innerRadius(50).radius(100);
	var actcategory = ndx.dimension(function(d) {
			if (typeof d.Category_activity == "undefined") return "";
			return d.Category_activity;
			});
	var actcategoryGroup   = actcategory.group().reduceSum(function(d) { 
		return 1;
		return d.total_activities;
	});
	
	//Activity subcategory subcat
	var bar_subcat = dc.barChart(selector + " .subcat");
	var asubcategory = ndx.dimension(function(d) {
			return d.category_bar;
	});
	var asubcategoryGroup   = asubcategory.group().reduceSum(function(d) { 
		//return 1;
		return d.total_activities;
	});
	
	//MEP/Commission
	var row_prevtype = dc.rowChart(".nactivities");
	var prevtype  = ndx.dimension(function(d) {
			return d.prevType;
			});
	var prevtypeGroup = prevtype.group().reduceSum(function(d) { 
		//return 1;
		return d.total_activities;
	});

	//Country
	var bar_country = dc.barChart(selector + " .country");
	var country = ndx.dimension(function(d) {
		if (typeof d.Country == "undefined") return "";
		return d.Country;
	});

	/*
	var countryGroup   = country.group().reduce(
		function(a,d) {a.count +=1; a.score +=d.score; return a; },
		function(a,d) {a.count -=1; a.score -=d.score; return a; },
		function() {return {count:0,score:0}; }
	);
	*/
	
	var countryGroup = country.group().reduceSum(function(d) {
		return d.total_activities;	
	});
	
	var countOfficials = function() {
		var thesepeople = [];
		var officialscount = 0;
		var thisdataset = actcategory.top(Infinity);
		//Count people
		_.each (thisdataset, function (m) {
		/*
		if(thesepeople.indexOf(m.Name) == -1){
			officialscount  ++;
			thesepeople.push(m.Name);
		} 
		*/ 
		officialscount  += parseInt(m.total_activities);
		});
		$('.filter-pcount').html(officialscount);
	}
	
	row_prevtype
		.margins({top: 0, right: 5, bottom: 20, left: 5})
		.height(100)
		.gap(2)
		.on("filtered", function (chart) {
			 countOfficials();
		})
		.x(d3.scale.ordinal())
		.elasticX(true)
		.colorCalculator(function(d, i) {
			if(d.key == "European Commission"){
				return "#045b5c";
			} else {
				return "#449b9c";
			}
		})
		.dimension(prevtype)
		.group(prevtypeGroup);

	row_prevtype.xAxis().ticks(5).tickFormat(d3.format("d"));
	
	pie_actcategory
		.dimension(actcategory)
		.group(actcategoryGroup)
		.colorCalculator(function(d, i) {
			return catscolor[d.key];
		})
		.on("filtered", function (chart) {
			 countOfficials();
		})
		//.legend(dc.legend().x(30).y(220).itemHeight(13).gap(5))
		.renderlet(function (chart) {
				});
	pie_actcategory.cap(7);
	
	function rangeorder(d){
		switch(d.key) {
			case 'Private sector':
				return 0;
				break;
			case 'Unknown':
				return 1;
				break;
			case 'NGO':
				return 2;
				break;
			case 'Other':
				return 3;
				break;
			case 'Academia':
				return 4;
				break;
			case 'Public sector':
				return 5;
				break;
			default:
				return 6;
		}
	}
	
	pie_actcategory.ordering(function(d) { return rangeorder(d); });

	pie_group
		.dimension(group)
		.colorCalculator(function(d, i) {
			return eu_groups[d.key];
		})
		.group(groupGroup)
		.on("filtered", function (chart) {
			 countOfficials();
		})
		.renderlet(function (chart) {
				});

	function adjustBarChartLabels(chart) {
		chart.svg().selectAll('.axis.x text')
			.on("click",function(d) {
				chart.filter(d);
				map.filter(d);
				dc.redrawAll();}
			)
			.style("text-anchor", "end" )
			.attr("transform", function(d) { return "rotate(-45, -4, 9) "; });
	}


	bar_country
		.height(340)
		.outerPadding(0)
		.gap(1)
		.margins({top: 0, right: 30, bottom: 95, left: 30})
		.colorCalculator(function(d, i) {
				//return color(d.value.score/d.value.count);
				//return "#3695d8";
				return "#045b5c";
		})
		.valueAccessor (
			function(d) {
			return d.value;
			})
		.on("postRender", function( chart ){
				adjustBarChartLabels(chart);
		 }) 
		.x(d3.scale.ordinal())
		.xUnits(dc.units.ordinal)
		.brushOn(false)
		.elasticY(true)
		.yAxisLabel("#Activities")
		.on("filtered", function (chart) {
			 countOfficials();
		})
		.dimension(country)
		.group(countryGroup);

//  bar_country.on("postRender", function(c) {rotateBarChartLabels();} );


	function rotateBarChartLabels() {
		d3.selectAll(selector+ ' .country .axis.x text')
			.style("text-anchor", "end" )
			.attr("transform", function(d) { return "rotate(-90, -4, 9) "; });
	}
	
	bar_subcat
		.height(340)
		.outerPadding(0)
		.gap(1)
		.margins({top: 0, right: 30, bottom: 95, left: 30})
		.colorCalculator(function(d, i) {
				//return color(d.value.score/d.value.count);
				//return "#3695d8";
				return "#045b5c";
		})
		/*
		.valueAccessor (
			function(d) {
			return d.value.count;
			})
			*/
		.on("postRender", function( chart ){
				adjustBarChartLabels(chart);
		 })
		 .on("filtered", function (chart) {
			 countOfficials();
		})
		.x(d3.scale.ordinal())
		.xUnits(dc.units.ordinal)
		.brushOn(false)
		.elasticY(true)
		.yAxisLabel("#Activities")
		.dimension(asubcategory)
		.group(asubcategoryGroup);
		
	function rotateBarChartLabels2() {
		d3.selectAll(selector+ ' .subcat .axis.x text')
			.style("text-anchor", "end" )
			.attr("transform", function(d) { return "rotate(-90, -4, 9) "; });
	}


	dc.dataCount(".dc-data-count")
		.dimension(ndx)
		.group(all);

	dc.dataCount(".dc-data-count2")
		.dimension(ndx)
		.group(all);

	/*
	var name = ndx.dimension(function(d) {
			return d.last_name.toLowerCase() + " "+ d.first_name.toLowerCase() + " " + d.party.toLowerCase() +" " + d.committee.toLowerCase() + d.substitute.toLowerCase();
			});
*/

	var i=0;
	
	/*
	<th class="header headerSortDown">Nr</th>
							<th class="header">Name</th>
							<th class="header">Country</th>
							<th class="header">Group</th>
							<th class="header">Previous Position</th>
							<th class="header">New Position</th>
							<th class="header">Category of Activity</th>
							*/
	var name = ndx.dimension(function(d) {
			//return d.Name.toLowerCase() + " "+ d.Political_group.toLowerCase() + " " + d.Previous_position.toLowerCase() +" " + d.New_position.toLowerCase() + d.Category_activity.toLowerCase();
			//if(d.Country == "Lithuania"){alert(d.toSource());}
			return d.Name.toLowerCase() + " " + d.New_position.toLowerCase() + " " + d.Country + " " + d.Institution.replace(" ", "");
			});
	
	var name2 = ndx.dimension(function(d) {	
		return d.Name.toLowerCase() + " " + d.New_position.toLowerCase() + " " + d.Country;
	});
	var namegroup = name2.group().reduceSum(function(d) { 
		return 1;
	});

	var pseudoDimension = {
	  top: function (x) {
		return namegroup.top(x)
				.map(function (grp) {return grp.key});
		}
	};
	
	groupedDimension = name2.group().reduce(
          function (p, v) {
              return p;
          },
          function (p, v) {
              return p;
          },
          function () {
              return {number: 0, total: 0, avg: 0}
      });
	  
	 function reversible_group(group) {
		return {
			top: function(N) {
				return group.top(N);
			},
			bottom: function(N) {
				return group.top(Infinity).slice(-N).reverse();
			}
		};
	}
	
	
	
	//alert(pseudoDimension.top(Infinity)[0].Name);


	var i = 0;	
	wall=dc.dataTable(".dc-data-grid")
	 .dimension(name)
	 .group(function(d){return "";})
		.on("filtered", function (chart) {
			 countOfficials();
		})
		.columns([
				function(d) { return "<span class='mep' data-epid='"+d.ID+"' data-pname='"+d.Name+"'>"+d.Name +"</b></span>"; },
				function(d) {  
					if(d.Country == "United Kingdom"){
						return "UK";
					}
					return d.Country; 
					},
				function(d) {
						return d.Political_group;
				},
				function(d) {  return "<div class='right-align'>"+d.Previous_position +"</div>"; },
				function(d) {  return "<div class='right-align'>"+d.New_position+"</div>"; },
				function(d) {  return "<div class='right-align'>"+d.Category_activity+"</div>"; },
				function(d) {  return "<div class='right-align'>"+d.total_activities +"</div>"; }		
		
		])
	.size(1000)
	.sortBy(function (d) {return parseInt(d.total_activities) })
	.renderlet(function (chart) {
		i = 0;
		$(".dc-table-group").remove();
		$("td:first-child").each (function(i) { 
			//$(this).closest ("td").css("backgroundColor", $(this).css('backgroundColor'));
		});
		$("td span.score").each (function(i) { 
			//$(this).closest ("td").css("backgroundColor", $(this).css('backgroundColor'));
		});
		$("table.dc-data-grid").trigger("update");
	});

	$.fn.dataTableExt.sErrMode = 'console';
	
	

	//drawScore();
	//drawRange();
	//drawAge();
	//drawCounter();
	//drawParty();


		
		$(".dc-data-grid").on("click",".dc-table-row", function () {
			var pname = $(this).find(".mep").data("pname");
			var pdata = _.find(tool_people,function (d) { return d.Name == pname  });
			$("#mepdialog #mepphoto").attr("src","");
			if(pdata.ID && pdata.ID.length > 0){
				$("#mepdialog #mepphoto").attr("src","http://www.europarl.europa.eu/mepphoto/"+pdata.ID+".jpg");
			} 
			//if(pdata.Institution == "European Commission" && pdata.Link_image.length > 1){
			if(pdata.Institution == "European Commission"){
				var thisphoto = _.find(tool_photos,function (d) { return d.Name == pname  });
				if(thisphoto){
					$("#mepdialog #mepphoto").attr("src",thisphoto.Link_image);
				}
			}
			$("#mepdialog .modal-title").html (pdata.Name);
			$("#mepdialog .details").html(detailtpl(pdata));
			$("#mepdialog .detailstable").html(sidetpl(pdata));
			/*
			var epid = $(this).find(".mep").data("epid");
			window.location.hash = "mep"+epid;

			var mep = _.find(meps,function (d) { return d.epid == epid  });
			$("#mepdialog .modal-title").html (mep.first_name + " " + mep.last_name);
			$("#mepdialog #mepphoto").attr("src","http://www.europarl.europa.eu/mepphoto/"+epid+".jpg");
			$("#mepdialog .details").html(detailtpl (mep));
			$("#mepdialog .side").html(sidetpl (mep));
			//$("#debug").html(JSON.stringify(mep),undefined,2);
			*/
			$("#mepdialog").modal();
		});


		dc.renderAll();
		hashFilter();
		
		
	
		 $("table.dc-data-grid").tablesorter(
				{theme:"bootstrap",headers: { 7: { sorter: 'amount' } }}
		 ).bind("sortEnd",function(e, table) {
			ga && ga('send', 'event', 'sort','table');
			var i=0;
			//$("td:first-child").each (function(){this.innerHTML=++i;});
		});
	
		
		



function drawParty () {
	var bubble_party = dc.bubbleChart(" .party");
	var party = ndx.dimension(function(d) {
      return "?";
      if (typeof d.party == "undefined") {
        return "?";
      }
			return d.party;
			});


	var partyGroup   = party.group().reduce(
			function(a,d) { },
			function(a,d) { },
			function() {return {eugroup:"ALDE",count:10,score:50,effort:50}; }
			);
	bubble_party
	.width(660)
		.height(300)
		.margins({top: 20, right: 20, bottom: 20, left: 30})
		.yAxisLabel("%Votes attended")
		.dimension(party)
		.group(partyGroup)
		.x(d3.scale.linear().domain([0, 1000]))
		.minRadiusWithLabel(150)

}

}

function hashFilter () {
	var hash = window.location.hash;

	 if(hash.indexOf('#mep') === 0) { 
		 MEPpopup(hash.substring(4));
		 ga && ga('send', 'event', 'urlMEP',hash.substring(4));
	 }
}



</script>


<nav class="navbar navbar-default" role="navigation">
	<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand" id="ti_logo_container">
						<a id="ti_logo" href="http://transparency.eu">Transparency International</a>
						<a id="page_title" href="/" target="_blank"><strong>EU</strong> Integrity<br />Watch</a>
				</div>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li id="cm_tool_btn"><a href="ec.html"><strong>Commission</strong> <br />meetings</a></li>
					<li id="bl_tool_btn"><a href="lobbyist.html"><strong>EU</strong><br />Lobbyists</a></li>
					<li id="mi_tool_btn"><a href="ep.html"><strong>MEP</strong> <br />incomes</a></li>
					<li class="active" id="mi_tool_btn"><a href="revolving-doors.html">Revolving<br />Doors</a></li>
          <li class="dropdown">
            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">National versions<span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="http://www.integritywatch.fr">France</a></li>
            </ul>
          </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
	 </div><!-- container -->
</nav>
<div class="container_wrap mi_header" id="about_wrap_top">&nbsp;</div>
<div class="container_wrap mi_header" id="about_wrap" style="position: relative;">
	<div class="container">
		<div id="about_container" class="row">
			<div class="col-md-3 col-lg-3" id="about_content_icon">
			</div>
			<div class="col-md-6 col-lg-6" id="about_content">
				<p>
					This is a user-friendly interactive database that provides a unique overview of the activities of members of the European Parliament. By simply clicking on the graphs or the list below users can rank, sort and filter MEPs. Thereby the database allows to better monitor potential conflicts of interests or to identify those MEPs with more outside activities.
					<br/>
					<a href="about.html" class="more">Read more</a>
				</p>
			</div>
			<div class="col-md-3" id="about_social">
				<br/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="TI_EU" data-text="Want to know #MEPs income & activities outside @Europarl_EN? Find out">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				<br/>
				<br/>
				<div class="fb-like" data-show-faces="false"  data-href="http://www.integritywatch.eu/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

				<div id="fb-root"></div>
				<script>(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

			</div>
		</div>
		
	</div><!-- container -->
</div>
<div class="container_wrap" id="toggle_about_wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-md-1 col-centered mi_collapse" id="collapse_about">
				<a class="opened" href="#">collapse</a>
			</div>
		</div>
	</div>
</div>

<div class="container_wrap filter_mi" id="filter_wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-4" id="filter_field_container">
				<p>Search or Filter:</p>
				<div class="input-group">
						<input type="text" id="search-input" class="form-control input-lg" placeholder="Name, new position, country...">
				</div>
			</div>
			<div class="col-sm-7 col-md-7" id="filter_numbers">
				<div class="row">
					<div class="col-md-2" id="currently_selected_text"><p>You have currently selected</p></div>
					<div class="col-md-2 filter_number">
						<div id="mep_number" class="dc-data-count">
						<span class="big_number filter-count"></span>out of <strong class="total-count"></strong> Officials
						</div>
					</div> 
					<div class="col-md-2 filter_number">
						<div id="mep_number2" class="dc-data-count">
						<span class="big_number filter-pcount"></span>out of <strong class="total-pcount"></strong> Activities
						</div>
					</div> 
					<div class="col-md-4 filter_number">
					<div class="feedback-btn">
						<a href="https://goo.gl/forms/OXYhE5lpOnve1Btw2" target="_blank">Spotted a mistake?</a>
					</div>
					</div>
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-1" id="resetall_container">
				<button class="btn resetall">RESET<br />FILTERS</button>
			</div>
		</div>
	</div>
</div>

<div id="ep2014list">
	<div class="container_wrap" id="main_charts_wrap">
		<div class="container">
			<h2>Filter by</h2>
			<div class="row">
				<div class="col-md-6 chart_box" id="group_container" style="margin-bottom: 0px;">
					<h3>Political Groups <!--span class="info">info</span--></h3>
					<div class="group">
					</div>
					<div class="legend political-legend">
						<div class="epp">EPP</div>
						<div class="gue">GUE/NGL</div>
						<div class="alde">ALDE</div>
						<div class="ecr">ECR</div>
						<div class="sd">S&amp;D</div>
						<div class="greens">Greens/EFA</div>
						<div class="efdd">EFDD</div>
						<div class="ni">NI</div>
						<div class="enf">ENF</div>
					</div>
					<br class="clear" />
				</div>
				<div class="col-md-6 chart_box">
					<h3>Country <!--span class="info">info</span--></h3>
					<div class="country chart-full"></div>
					<br class="clear" />
				</div>
			</div>
			<div class="row" style="margin-bottom: -20px;">
				<div class="col-md-6 chart_box">
					<h3>Category of activities</h3>

					<div class="actcategory activities range">
					</div>
					
					<div class="legend actcat_legend">
						<div class="cat_3">Public sector</div>
						<div class="cat_0">Private sector</div>
						<div class="cat_4">Academia</div>
						<div class="cat_1">Unknown</div>
						<div class="cat_5">Other</div>
						<div class="cat_2">NGO</div>
						<br class="clear" />
					</div>

					<br class="clear" />
				</div>
				<div class="col-sm-6 chart_box">
					<h3>Subcategory of activities <!--span class="info">info</span--></h3>
					<div class="subcat chart-full"></div>
					<br class="clear" />
				</div>
			</div>
			<div class="row chart_box institutions-container" style="margin-bottom: 30px;">
				<h3 style="margin-bottom:20px;">EU INSTITUTIONS <!--span class="info">info</span--></h3>
				<div class="filterbyinstitutions">FILTER BY INSTITUTION</div>
				<div class="col-sm-6" style="text-align:right;">
					<div class="ecep-logo-btn"><img id="commission_btn" src="img/EC1.png" /></div>
				</div>
				<div class="col-sm-6">
					<div class="ecep-logo-btn"><img id="parliament_btn" src="img/EP1.png" /></div>
				</div>
			</div>
			
		</div>
		
	</div>
	

</div>


<div class="container_wrap" id="list_container">
	<div class="container">
		<div class="row">
			<div class="content" id="list_content">
				<h2 class="table_title">POST-MANDATE ACTIVITIES</h2><div id="last_update">Last updated: <span id="updatedate"></span></div>
				
				<div id="info_table_container" class="hidden">
					<div class="info_chart info_table" id="attendance_info">
						<span class="info">info</span>
						<p class="desc">Post-mandate activities</p>
					</div>
					
					<div class="info_chart info_table" id="EAI_info">
						<span class="info">info</span>
						<p class="desc">The External Activity Indicator was developed by Transparency International EU to provide a quick overview of all outside activities of members of the European Parliament. In short, the higher the indicator the higher the outside income and number of outside activities of a member. A higher EAI is reflected in a darker shading of orange. <br /><a href="about.html">More details</a></p>
					</div>
					
					<div class="info_chart info_table" id="OI_info">
						<span class="info">info</span>
						<p class="desc">Total monthly income declared by the member in the Declaration of Financial Interests</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-12 table-responsive">
				<table class="table table-hover dc-data-grid tablesorter-bootstrap">
					<thead>
						<tr class=header>
							<!-- <th class="header headerSortDown">Nr</th> -->
							<th class="header">Name</th>
							<th class="header">Country</th>
							<th class="header">Group</th>
							<th class="header">Previous Position</th>
							<th class="header">New Position</th>
							<th class="header">Category of Activity</th>
							<th class="header">Activities Count</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>

var tool_people = [];
var tool_activities = [];
var tool_ids = [];
var tool_fullact = [];
var tool_fullact_pre = [];
var tool_photos = [];

//sidetpl =  _.template($("#sidetpl").html());
//detailtpl =  _.template($("#detailtpl").html());

$(function() {
	detailtpl =  _.template($("#detailstpl2").html());
	sidetpl =  _.template($("#sidetpl").html());
});

//Render
var renderLoaded  = _.after(3,  function () { 
	//var dateFormat = d3.time.format("%d/%m/%Y");
	var dateFormat = d3.time.format("%Y-%m-%d");
	var now = Date.now();
	var a;
	
	//alert(tool_people);

	//Loop and fix
	
	
	try {
		grid("#ep2014list",tool_people);
	} catch (e) {
		console.log (e);
	}
});

String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}

var fixdataset = function(){
	var peoplenum = 0;
	var countedpeople = [];
	var cats = [];
	_.each (tool_people, function (m) {
	
		//Count people
		/*
		if(countedpeople.indexOf(m.Name) == -1){
			peoplenum ++;
			countedpeople.push(m.Name);
		}*/
		m.Country = $.trim(m.Country);
		peoplenum += parseInt(m.total_activities);
		
		m.category_bar = m.category_bar.trim().toLowerCase().capitalize();
		m.category_pie = m.category_new_position.trim().toLowerCase().capitalize();
		if(m.category_pie == "Ngo"){
			m.category_pie = "NGO";
		}
		if(m.category_bar == "Ngo"){
			m.category_bar = "NGO";
		}
		
		//List categories
		if(cats.indexOf(m.category_pie) == -1){
			cats.push(m.category_pie);
		} 
		
	
		//Assign ID
		var identry = _.find(tool_ids,function (d) { return d.Name == m.Name  });
		m.ID = "";
		if(identry){
			m.ID = identry.ID;
		}
		
		//Assign activities
		m.allactivities = [];
		m.actnum = 0;
		var this_allactivities = _.filter(tool_people,function (a) { return a.Name == m.Name  });
		m.actnum = this_allactivities.length;
		//alert(m.actnum);
		/*
		m.allactivities = _.filter(tool_activities,function (a) { return a.Name == m.Name  });
		m.comm_link = m.allactivities[0].Link_source;
		*/
		
		//Assign MEP or Commission
		m.prevType = m.Institution;
		/*
		if(m.Previous_position == "MEP"){
			m.prevType = "European Parliament";
		} else {
			m.prevType = "European Commission";
		}
		*/
		m.Category_activity = m.category_pie;
		if(m.Category_activity == ''){
			m.Category_activity = 'Unknown';
		}
		
		if(m.Country == "UK"){
			m.Country = "United Kingdom";
		}
		//m.doi = _.find(doi,function (d) { return d.mep_id == m.epid  });
		if(m.Political_group == "Greens-EFA"){
			m.Political_group = "Greens/EFA";
		}
		if(m.Political_group == "NI" || m.Political_group == "NI " || m.Political_group == ""){
			m.Political_group = "NA/NI";
		}
		if (m.Political_group == "PPE") { 
			m.Political_group = "EPP";
		}
		if (m.Political_group == "EFD") { 
			m.Political_group = "EFDD";
		}
	});

	$('.total-pcount').html(peoplenum);
	$('.filter-pcount').html(peoplenum);
}

$(function() {
	window.googleDocCallback = function () { return true; };
	d3.csv("data/tool_ids.csv", function(d) {return d;}
		,function(error, rows) {
			tool_ids = rows;			 
	}); 
	d3.csv("data/tool_activities_post.csv", function(d) {return d;}
		,function(error, rows) {
			tool_fullact = rows;		
	}); 
	d3.csv("data/tool_activities_pre.csv", function(d) {return d;}
		,function(error, rows) {
			tool_fullact_pre = rows;		
	}); 
	d3.csv("data/tool_photos.csv", function(d) {return d;}
		,function(error, rows) {
			tool_photos = rows;			 
	}); 
	d3.csv("data/tool_total_unique.csv", function(d) {return d;}
		,function(error, rows) {
			 //tool_activities = rows;
			 //renderLoaded();
			 tool_people = rows;
			 fixdataset();
			 grid("#ep2014list",tool_people);	
	});
	
	var countOfficialsWall = function(thisdataset) {
		var thesepeople = [];
		var officialscount = 0;
		//Count people
		_.each (thisdataset, function (m) {
			officialscount  += parseInt(m.total_activities);
		});
		$('.filter-pcount').html(officialscount);
	}
	
	//Logos filter
	$("#commission_btn").click(function() {
		wall.dimension().filter(function (d) { 
			return d.indexOf("EuropeanCommission") !== -1;
		});
		$("#commission_btn").attr("src", "img/EC1.png");
		$("#parliament_btn").attr("src", "img/EP2.png");
		countOfficialsWall(wall.dimension().top(Infinity));
		dc.redrawAll();
	});
	$("#parliament_btn").click(function() {
		wall.dimension().filter(function (d) { 
			return d.indexOf("EuropeanParliament") !== -1 || d.indexOf("Europeanparliament") !== -1;
		});
		$("#commission_btn").attr("src", "img/EC2.png");
		$("#parliament_btn").attr("src", "img/EP1.png");
		countOfficialsWall(wall.dimension().top(Infinity));
		dc.redrawAll();
	});
	
	$("#search-input").keyup (function () {
		var s = $(this ).val().toLowerCase();
		wall.dimension().filter(function (d) { 
			return d.indexOf (s) !== -1;} );
		countOfficialsWall(wall.dimension().top(Infinity));
		$("#commission_btn").attr("src", "img/EC1.png");
		$("#parliament_btn").attr("src", "img/EP1.png");
		dc.redrawAll();
	});
	$(".resetall").attr("disabled",false);
	$(".resetall").click(function() {
		$("#search-input").val("");
		//$(".resetall").attr("disabled",true);	
		wall.filter(null);
		dc.filterAll();
		dc.filterAll(null);
		dc.renderAll();
		$("#commission_btn").attr("src", "img/EC1.png");
		$("#parliament_btn").attr("src", "img/EP1.png");
	});
	
});  

</script>


<script type="tpl" id="sidetpl">
<h4>Activities</h4>
<table class="table table-condensed">
<tr><td class="dc-table-label">Post-mandate activities</td><td class="dc-table-label" >Category</td><td class="dc-table-label" >On the Transparency Register</td><td class="dc-table-label" >Source</td></tr>
<% allactivities = _.filter(tool_fullact,function (a) { return  $.trim(a.Name) == $.trim(Name) }); %>
<% _.each(allactivities, function (a) { %>
	<tr><td><%= a.post_mandate_activities %></td><td><%= a.category_bar %></td><td><% if(a.On_JTR.toLowerCase().trim() == "yes"){ %> Yes (<a href="<%= a.Link_JTR %>">Link</a>) <% } %></td><td><a href="<%= a.Link_source%>">Link</a></td></tr>
<% }); %>
</table>

<% allactivities2 = _.filter(tool_fullact_pre,function (a) { return  $.trim(a.Name) == $.trim(Name) }); %>
<% if(allactivities2.length > 0){ %>
<table class="table table-condensed">
<tr><td class="dc-table-label">Pre-mandate activities</td><td class="dc-table-label" >Category</td><td class="dc-table-label" >Paid/Unpaid</td><td class="dc-table-label" >Source</td></tr>
<% _.each(allactivities2, function (a) {  %>
	<tr><td><%= a.pre_mandate_activities %></td><td><%= a.category_bar %></td><td><%= a.Paid_unpaid %></td><td><a href="<%= a.Link_source%>">Link</a></td></tr>
<% }); %>
</table>
<% } %>
</script>

<!--  _.each(allactivities2, function (a) {  -->
<!--  }); %> -->

<script type="tpl" id="detailstpl2">
		<div class="row">
			 <div class="col-md-4">Institution</div>
			 <div class="col-md-8"><%= Institution %> </div>
		 </div>
		 <div class="row">
			 <div class="col-md-4">Mandate</div>
			 <div class="col-md-8"><%= Previous_position %> </div>
		 </div>
		<div class="row">
			 <div class="col-md-4">Country</div>
			 <div class="col-md-8">
				 <%= Country %>
			 </div>
		 </div> 
		 <div class="row">
			 <div class="col-md-4">Group</div>
			 <div class="col-md-8"><%= Political_group %> </div>
		 </div>
		 <div class="row">
			 <div class="col-md-4">Party</div>
			 <div class="col-md-8"><%= Party %> </div>
		 </div>
		 <% if(Institution == "European Parliament" || Institution == "European parliament") { %>
			<div class="row">
			 <div class="col-md-4">Profile Link</div>
			 <div class="col-md-8"><a target="_blank" href="http://www.europarl.europa.eu/meps/en/<%= ID %>.html">European Parliament Website</a></div>
			</div>
		 <% }; %>

		 
		 
</script>

<div class="modal fade" id="mepdialog">
	<div class="modal-dialog  modal-lg">
			<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Firstname <strong>Lastname</strong></h4>
					
					<div class="modal-body">
							<div class="row">
								<div class="col-md-8 details" ></div>
									<div class="col-md-4">
										<img id="mepphoto" src="" />
									</div>
							</div>
							<div class="row">
								<div class="col-md-12 detailstable" ></div>
							</div>
					</div>
					<div class="side">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Close</button>
						<div id="debug"></div>
					</div>
				</div>
				
	</div>
</div><!-- /.modal-dialog -->

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-55613514-1', 'auto');
	ga('send', 'pageview');

</script>
</body>
</html>
